
    <label>Server Name</label>
    <!-- <input
        type="text"
        class="form-control"
        (input)="onUpdateServerName($event)"
    > -->
     <input
        type="text"
        class="form-control"
        [(ngModel)]="serverName"
     >
    <!-- <p>{{ serverName }}</p> -->
    <button id="btn1"
        class="btn btn-primary" 
        [disabled] = "serverName.length == 0"
        (click)="onCreateServer()">Add Server</button>

<p [innerText] = "allowNewServer"></p>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">Server {{ serverName }} was created</p>
<!--
 <p *ngIf="serverCreated; else noServer">Server {{ serverName }} was created</p>
 <ng-template #noServer>
    <p>No server was created</p>
 </ng-template> -->
<app-server *ngFor="let server of servers"></app-server>

{{ this.serverName.length }}